{% extends "layout.njk" %}

{% block head %}
    <link rel="stylesheet" href="index.css">     
{% endblock %}

{% block content %}
    <main>
        <div class="box">
            <div class="box-content">
                <p class="box-title">As melhores receitas</p>
                <p class="box-text">Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
            </div>
            <div class="box-image">
                <img src="./assets/chef.png" alt="">
            </div>

        </div>
        <h1>Mais acessadas</h1>
        <div class="cards">

            <div class="card">
                <img src="./assets/asinhas.png" alt="">
                <p class="food-name">Triplo burguer bacon</p>
                <p class="chef-name">Por Jurema Atalaia</p>
            </div>
            <div class="card">
                <img src="./assets/asinhas.png" alt="">
                <p class="food-name">Triplo burguer bacon</p>
                <p class="chef-name">Por Jurema Atalaia</p>
            </div>
            <div class="card">
                <img src="./assets/asinhas.png" alt="">
                <p class="food-name">Triplo burguer bacon</p>
                <p class="chef-name">Por Jurema Atalaia</p>
            </div>
            <div class="card">
                <img src="./assets/asinhas.png" alt="">
                <p class="food-name">Triplo burguer bacon</p>
                <p class="chef-name">Por Jurema Atalaia</p>
            </div>
            <div class="card">
                <img src="./assets/asinhas.png" alt="">
                <p class="food-name">Triplo burguer bacon</p>
                <p class="chef-name">Por Jurema Atalaia</p>
            </div>
            <div class="card">
                <img src="./assets/asinhas.png" alt="">
                <p class="food-name">Triplo burguer bacon</p>
                <p class="chef-name">Por Jurema Atalaia</p>
            </div>

        </div>
    </main>

{% endblock %}