{% extends "layout.njk" %}

{% block head %}
    <link rel="stylesheet" href="index.css">     
{% endblock %}

{% block content %}
    <main>
        <div class="box">
            <div class="box-content">
                <p class="box-title">As melhores receitas</p>
                <p class="box-text">Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
            </div>
            <div class="box-image">
                <img src="./assets/chef.png" alt="">
            </div>

        </div>
        <h1>Receitas</h1>
        <div class="cards">
            {% for item in items %}
            <div class="card">
                <img src="{{item.image}}" alt="">
                <p class="food-name">{{item.title}}</p>
                <p class="chef-name">{{item.author}}</p>
            </div>
            {% endfor %}

        </div>
    </main>
<script src="scripts.js"></script>
{% endblock %}