{% extends "layout.njk" %}

{% block head %}
    <link rel="stylesheet" href="recipes.css">     
{% endblock %}

{% block content %}
                <main>
                    
                    <div class="cards">

                        
                        <div class="card">
                            <img src="./assets/asinhas.png" alt="">
                            <p class="food-name">Triplo burguer bacon</p>
                            <p class="chef-name">Por Jurema Atalaia</p>
                        </div>
                        <div class="card">
                            <img src="./assets/asinhas.png" alt="">
                            <p class="food-name">Triplo burguer bacon</p>
                            <p class="chef-name">Por Jurema Atalaia</p>
                        </div>
                        <div class="card">
                            <img src="./assets/asinhas.png" alt="">
                            <p class="food-name">Triplo burguer bacon</p>
                            <p class="chef-name">Por Jurema Atalaia</p>
                        </div>
                        <div class="card">
                            <img src="./assets/asinhas.png" alt="">
                            <p class="food-name">Triplo burguer bacon</p>
                            <p class="chef-name">Por Jurema Atalaia</p>
                        </div>
                        <div class="card">
                            <img src="./assets/asinhas.png" alt="">
                            <p class="food-name">Triplo burguer bacon</p>
                            <p class="chef-name">Por Jurema Atalaia</p>
                        </div>
                        <div class="card">
                            <img src="./assets/asinhas.png" alt="">
                            <p class="food-name">Triplo burguer bacon</p>
                            <p class="chef-name">Por Jurema Atalaia</p>
                        </div>
                        <div class="card">
                            <img src="./assets/asinhas.png" alt="">
                            <p class="food-name">Triplo burguer bacon</p>
                            <p class="chef-name">Por Jurema Atalaia</p>
                        </div>
                    
                        <div class="card">
                            <img src="./assets/asinhas.png" alt="">
                            <p class="food-name">Triplo burguer bacon</p>
                            <p class="chef-name">Por Jurema Atalaia</p>
                        </div>
                    
                        <div class="card">
                            <img src="./assets/asinhas.png" alt="">
                            <p class="food-name">Triplo burguer bacon</p>
                            <p class="chef-name">Por Jurema Atalaia</p>
                        </div>
                        <div class="card">
                            <img src="./assets/asinhas.png" alt="">
                            <p class="food-name">Triplo burguer bacon</p>
                            <p class="chef-name">Por Jurema Atalaia</p>
                        </div>
                    
                        <div class="card">
                            <img src="./assets/asinhas.png" alt="">
                            <p class="food-name">Triplo burguer bacon</p>
                            <p class="chef-name">Por Jurema Atalaia</p>
                        </div>
                    
                        <div class="card">
                            <img src="./assets/asinhas.png" alt="">
                            <p class="food-name">Triplo burguer bacon</p>
                            <p class="chef-name">Por Jurema Atalaia</p>
                        </div>
                    
                    

                    </div>
                </main>
            
{% endblock %}